@charset "utf-8";

*{
    margin: 0;
    padding-top: 0;
    text-align: center;
}

.body{
    /*background-image: url('../css/img/meal-a.jpg');*/
    /*max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family:"Arial", Serif;
    background-color: #CCC;
    opacity: 0.9;
    /* if you don't want your side nav to show */
    overflow-x: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 40%;
    width: 100%;
    padding: 0;
    text-align: center;
}

/* Navigation bar styles */
nav{
  width: 100%;
  height: 60px;
  color: #fff;
  background-color:#7707df;
}

nav p{
  font-family: Arial;
  color:#fff;
  font-size: 24px;
  line-height: 55px;
  float:left;
  padding: 0 20px;
  text-decoration: none;

}
/*Style the links inside the navigation bar */
 a {
  float: left;
  color: blueviolet;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 24px;
}
a.textalign_right{
  float: left;
  color:#7707df;
  margin-left: 45%;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 24px;

}
/* Change the color of links on hover */
 a:hover {
  background-color: #ddd;
  color: black;
  height: inherit;
}

/* Add a color to the active/current link */
 a.active {
    /*background-color: #4CAF50;*/
    font-style: arial;
    color: white;
  }
  
  /* Right-aligned section inside the top navigation 
  .topnav-right {
    float: right;
  }*/
 /* Add a color to the active/current link */
 a.active {
  /*background-color: #4CAF50;*/
  font-style: arial;
  color: black;
}


nav ul{
  float: right;
}
nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  font-family: Arial;
  color:#fbfbfb;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
  display: block;
}


nav ul li ul li {
 width: 150px;
 border-radius: 4px;
}

nav ul li ul li a{
 padding: 8px 14px;
}

nav ul li ul li a:hover{
  color: #222;
  background-color: #f3f3f3;
}
#textalign_left {
  text-align: left;
}

/* End of navigation styles */
/*first div of the page*/
.firstdiv {
    text-align: center;
}
/* the first heading of the index page*/
.firsthead{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
 
}
#header{
    text-align: center;
}
#form1 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 100px
}
.margin-setiing{
    margin-bottom: 40px;
}

input[type=text]{
    width:80%;
    padding: 10px;

}
input[type=password]{
    width:80%;
    padding: 10px;
}
#signupheading {
    margin-bottom:40px;
    font-size: 20px;
}
.button{
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

 h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }
  .login {
    margin:0 auto;
    max-width:500px;
  }
  .login-header {
    color:#000;
    text-align:center;
    font-size:300%;
  }
  /* .login-header h1 {
     text-shadow: 0px 5px 15px #000; 
  }*/
  .login-form {
    border:.5px solid #000;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
  }
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#000;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
      padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login input[type="text"],
  .login input[type="password"] {
    max-width:400px;
      width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #020101;
    outline:none;
    padding-left:10px;
  }
  .login-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  .sign-up{
    color:#070303;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
  }
  .no-access {
    color:#E86850;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
  }
  .try-again {
    color:#050202;
    text-decoration:underline;
    cursor:pointer;
  }
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .sign-up, .no-access {
      margin:10px 0;
    }
    .login-button {
      margin-bottom:10px;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#7707df;
    color: white;
    text-align: left;
 }
 .footerRight{
   float: right;
 }